<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUI7e5UJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAyCQoR
				HSM1OT1ESElKTlFVX2JlZmdqdHd6e3x/g46SnKSnq7C2
				u77Cx8rO2Nna29/j5+tVJG51bGzSCwwNDlYkY2xhc3Na
				TlMub2JqZWN0c4Axog8QgAKAIdYSEwsUFRYXGBkaGxxY
				UGFnZSBNYXBZUmVzb3VyY2VzWFBhdGggTWFwXklkZW50
				aWZpZXIgTWFwWE5vZGUgTWFwgCiAA4AwgCmAG4Ad0gsM
				Hh+AGqMgISKABIAOgBTZJCULJicoKSorLC0uLzAxLy80
				V0NoYW5nZWRVQWxpYXNcUHVibGlzaGVkVVJMVE5hbWVa
				SWRlbnRpZmllclRTbHVnXVB1Ymxpc2hlZERhdGVZVGlt
				ZVN0YW1wCIAFgA2AAIAKgAmAAIAAgAvSCzY3OFIkMIAI
				gAbSOgs7PFdOUy5kYXRhTxECXAAAAAACXAACAAAMTWFj
				aW50b3NoIEhEAAAAAAAAAAAAAAAAAAAAyGw5kEgrAAAB
				P5LBH0UzRjdBMjk5LTc0QTQtNDJBQS0jMTNGOTJDMy5w
				bmcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAE/ksPMPc6ZAAAAAAAAAAD/////AAAJIAAAAAAAAAAA
				AAAAAAAAABJSYXBpZFdlYXZlci15dkIzaVYAEAAIAADI
				bHHQAAAAEQAIAADMPgbZAAAAAQAcAT+SwQE7c88BNG71
				ATRu9AEvkIYBL2foAS9n5AACAH5NYWNpbnRvc2ggSEQ6
				cHJpdmF0ZToAdmFyOgBmb2xkZXJzOgBoazoAN2hua2Mz
				OTExdjkwXzVmMHFxbW1fMHhyMDAwMGduOgBUOgBSYXBp
				ZFdlYXZlci15dkIzaVY6AEUzRjdBMjk5LTc0QTQtNDJB
				QS0jMTNGOTJDMy5wbmcADgBSACgARQAzAEYANwBBADIA
				OQA5AC0ANwA0AEEANAAtADQAMgBBAEEALQA4ADcARABC
				AC0ANQAwAEYANwA3AEQANQBBADQANQAxAEIALgBwAG4A
				ZwAPABoADABNAGEAYwBpAG4AdABvAHMAaAAgAEgARAAS
				AHNwcml2YXRlL3Zhci9mb2xkZXJzL2hrLzdobmtjMzkx
				MXY5MF81ZjBxcW1tXzB4cjAwMDBnbi9UL1JhcGlkV2Vh
				dmVyLXl2QjNpVi9FM0Y3QTI5OS03NEE0LTQyQUEtODdE
				Qi01MEY3N0Q1QTQ1MUIucG5nAAATAAEvAP//AACAB9I+
				P0BBWCRjbGFzc2VzWiRjbGFzc25hbWWjQUJDXU5TTXV0
				YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN00j4/RUeiRkNX
				QkRBbGlhc1dCREFsaWFzXxAkQjYxMTI0N0UtNjNDRi00
				MEJGLTk0MTgtRjUwOTMzRTMwOTlBV055eC5wbmfSC0tM
				TVdOUy50aW1lgAwjQbXKAzsAe1fSPj9PUKJQQ1ZOU0Rh
				dGXSPj9SVKJTQ15SV1NpdGVSZXNvdXJjZV5SV1NpdGVS
				ZXNvdXJjZdkkJQsmJygpKissVy4vWlsvL14IgA+ADYAA
				gBKAEYAAgACAE9ILNjdhgAiAENI6C2M8TxECXAAAAAAC
				XAACAAAMTWFjaW50b3NoIEhEAAAAAAAAAAAAAAAAAAAA
				yGw5kEgrAAABP5MtHzM0Nzg4NDQ2LTJDNkEtNDEzNi0j
				MTNGOTMyRi5wbmcAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAE/ky/MPc6ZAAAAAAAAAAD/////AAAJ
				IAAAAAAAAAAAAAAAAAAAABJSYXBpZFdlYXZlci1leHE0
				Q20AEAAIAADIbHHQAAAAEQAIAADMPgbZAAAAAQAcAT+T
				LQE7c88BNG71ATRu9AEvkIYBL2foAS9n5AACAH5NYWNp
				bnRvc2ggSEQ6cHJpdmF0ZToAdmFyOgBmb2xkZXJzOgBo
				azoAN2hua2MzOTExdjkwXzVmMHFxbW1fMHhyMDAwMGdu
				OgBUOgBSYXBpZFdlYXZlci1leHE0Q206ADM0Nzg4NDQ2
				LTJDNkEtNDEzNi0jMTNGOTMyRi5wbmcADgBSACgAMwA0
				ADcAOAA4ADQANAA2AC0AMgBDADYAQQAtADQAMQAzADYA
				LQBBAEEARQBGAC0AMQAxAEUANgA0AEUAMgBBADkAMgA1
				ADMALgBwAG4AZwAPABoADABNAGEAYwBpAG4AdABvAHMA
				aAAgAEgARAASAHNwcml2YXRlL3Zhci9mb2xkZXJzL2hr
				LzdobmtjMzkxMXY5MF81ZjBxcW1tXzB4cjAwMDBnbi9U
				L1JhcGlkV2VhdmVyLWV4cTRDbS8zNDc4ODQ0Ni0yQzZB
				LTQxMzYtQUFFRi0xMUU2NEUyQTkyNTMucG5nAAATAAEv
				AP//AACAB18QJDVBQjIzQTUzLTdEQzktNDQ1QS1BQjA0
				LUY5Q0QzQkJDQTBDNVpOeXhOZXQucG5n0gtLTGmADCNB
				tcoDOwDhP9kkJQsmJygpKissbC4vb3AvL3MIgBWADYAA
				gBiAF4AAgACAGdILNjd2gAiAFtI6C3g8TxEBZAAAAAAB
				ZAACAAAMTWFjaW50b3NoIEhEAAAAAAAAAAAAAAAAAAAA
				yGw5kEgrAAABP5t+B055eC56aXAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAE/nUnMPeWpAAAAAAAAAAD/////AAAJ
				IAAAAAAAAAAAAAAAAAAAAAVDbGVhbgAAEAAIAADIbHHQ
				AAAAEQAIAADMPh3pAAAAAQAQAT+bfgAI/B8ACMB3AACT
				BgACAC9NYWNpbnRvc2ggSEQ6VXNlcnM6AGRhbm55dDoA
				ZGV2OgBDbGVhbjoATnl4LnppcAAADgAQAAcATgB5AHgA
				LgB6AGkAcAAPABoADABNAGEAYwBpAG4AdABvAHMAaAAg
				AEgARAASAB5Vc2Vycy9kYW5ueXQvZGV2L0NsZWFuL055
				eC56aXAAEwABLwAAFQACAA3//wAAgAdfECRGNjA4QkFC
				MS1CQTUzLTRCRDAtOTc5Ny02NDY2RDVEMzEyMERXTnl4
				LnppcNILS0x+gAwjQbXKAzsa5AjSPj+AgaOBgkNcTlNN
				dXRhYmxlU2V0VU5TU2V00wwLhIWJildOUy5rZXlzoyIg
				IYAUgASADoAco3AxW4AXgAmAEdI+P4+Qo5CRQ18QE05T
				TXV0YWJsZURpY3Rpb25hcnlcTlNEaWN0aW9uYXJ50wwL
				hJOJmKOUlZaAHoAjgCaAHKNwMVuAF4AJgBHUnZ6fCxCh
				IqNWUGFyZW50WENoaWxkcmVuXxASUmVwcmVzZW50ZWQg
				T2JqZWN0gCGAH4AUgCXSCwylpoAgoNI+P6ipo6mqQ15O
				U011dGFibGVBcnJheVdOU0FycmF51J2enwsvrS+jgACA
				IoAAgCXSCwylsoAgo5WWlIAjgCaAHtSdnp8LELggo4Ah
				gCSABIAl0gsMpb2AIKDSPj+/waLAQ18QEFJXU291cmNl
				TGlzdE5vZGVfEBBSV1NvdXJjZUxpc3ROb2Rl1J2enwsQ
				xCGjgCGAJ4AOgCXSCwylyYAgoNMMC4TLic2ggByg0wwL
				hM+J1KPQ0dKALYAugC+AHKPV1teAKoArgCxfECovVXNl
				cnMvZGFubnl0L2Rldi93ZWJzaXRlcy9OeXgvVU1ML055
				eC5wbmdfEB8vVXNlcnMvZGFubnl0L2Rldi9DbGVhbi9O
				eXguemlwXxAtL1VzZXJzL2Rhbm55dC9kZXYvd2Vic2l0
				ZXMvTnl4L1VNTC9OeXhOZXQucG5n0gsMHt2AGqEggATS
				Cwwe4YAaoSKAFNILDB7lgBqhIYAO0j4/6Oqi6UNfEBJS
				V1Jlc291cmNlRGF0YWJhc2VfEBJSV1Jlc291cmNlRGF0
				YWJhc2XSPj/sqqKqQxIAAYagXxAPTlNLZXllZEFyY2hp
				dmVyAAgAEQAWAB8AKAAyADUAOgA8AHEAdwB8AIMAjgCQ
				AJMAlQCXAKQArQC3AMAAzwDYANoA3ADeAOAA4gDkAOkA
				6wDvAPEA8wD1AQgBEAEWASMBKAEzATgBRgFQAVEBUwFV
				AVcBWQFbAV0BXwFhAWYBaQFrAW0BcgF6A9oD3APhA+oD
				9QP5BAcEDgQXBBwEHwQnBC8EVgReBGMEawRtBHYEewR+
				BIUEigSNBJwEqwS+BL8EwQTDBMUExwTJBMsEzQTPBNQE
				1gTYBN0HPQc/B2YHcQd2B3gHgQeUB5UHlweZB5sHnQef
				B6EHowelB6oHrAeuB7MJGwkdCUQJTAlRCVMJXAlhCWUJ
				cgl4CX8JhwmLCY0JjwmRCZMJlwmZCZsJnQmiCaYJvAnJ
				CdAJ1AnWCdgJ2gncCeAJ4gnkCeYJ7wn2Cf8KFAoWChgK
				GgocCiEKIwokCikKLQo8CkQKTQpPClEKUwpVCloKXApg
				CmIKZApmCm8KcQpzCnUKdwp8Cn4KfwqECocKmgqtCrYK
				uAq6CrwKvgrDCsUKxgrNCs4K0ArRCtgK3AreCuAK4grk
				CugK6grsCu4LGws9C20Lcgt0C3YLeAt9C38LgQuDC4gL
				iguMC44LkwuWC6sLwAvFC8gLzQAAAAAAAAIBAAAAAAAA
				AO8AAAAAAAAAAAAAAAAAAAvf
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://mythros.dyndns.org:8080/Nyx/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2012 Danny Thibaudeau</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/dannyt/dev/websites/exports/Nyx</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>danny.thibaudeau@hotmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Possible</string>
					<key>TitleText</key>
					<string>Nyx Libraries</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>CB51752E-D021-4264-81BE-4DBF9A6DB245</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
