<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUI7e5UJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAyCQoR
				HSM1OT1ESElKTlFVX2JlZmdqdHd6e3x/g46SnKSnq7C2
				u77Cx8rO2Nna29/j5+tVJG51bGzSCwwNEFpOUy5vYmpl
				Y3RzViRjbGFzc6IOD4ACgCGAMdYSExQMFRYXGBkaGxxY
				Tm9kZSBNYXBZUmVzb3VyY2VzWFBhdGggTWFwXklkZW50
				aWZpZXIgTWFwWFBhZ2UgTWFwgB2AA4ApgDCAG4Ao0gsM
				HiKjHyAhgASADoAUgBrZJCUmJygpKgwrLC0uLzAvMjMv
				VE5hbWVVQWxpYXNaSWRlbnRpZmllcl1QdWJsaXNoZWRE
				YXRlWVRpbWVTdGFtcFxQdWJsaXNoZWRVUkxXQ2hhbmdl
				ZFRTbHVngAqABYAJgACAC4AACIANgADSNgw3OFIkMIAG
				gAjSOgw7PFdOUy5kYXRhTxEB9gAAAAAB9gACAAAMTWFj
				aW50b3NoIEhEAAAAAAAAAAAAAAAAAAAAyGw5kEgrAAAB
				FM7JFU55eFRyYWNlVmlld2VyLnRhci5negAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAEVCBvMFzu0AAAAAAAAAAD/////AAAJIAAAAAAAAAAA
				AAAAAAAAAAVMaW51eAAAEAAIAADIbHHQAAAAEQAIAADM
				F3P0AAAAAQAcARTOyQEUx6EBFMdQAJkrpgAI/B8ACMB3
				AACTBgACAGVNYWNpbnRvc2ggSEQ6VXNlcnM6AGRhbm55
				dDoAZGV2OgBKYXZhRm9yZ2U6AFRyYWNlVmlld2VyQmlu
				YXJpZXM6AHYxXzBfMDoATGludXg6AE55eFRyYWNlVmll
				d2VyLnRhci5negAADgAsABUATgB5AHgAVAByAGEAYwBl
				AFYAaQBlAHcAZQByAC4AdABhAHIALgBnAHoADwAaAAwA
				TQBhAGMAaQBuAHQAbwBzAGgAIABIAEQAEgBRVXNlcnMv
				ZGFubnl0L2Rldi9KYXZhRm9yZ2UvVHJhY2VWaWV3ZXJC
				aW5hcmllcy92MV8wXzAvTGludXgvTnl4VHJhY2VWaWV3
				ZXIudGFyLmd6AAATAAEvAAAVAAIADf//AACAB9I+P0BB
				WCRjbGFzc2VzWiRjbGFzc25hbWWjQUJDXU5TTXV0YWJs
				ZURhdGFWTlNEYXRhWE5TT2JqZWN00j4/RUeiRkNXQkRB
				bGlhc1dCREFsaWFzXxAkRkMxOEI4NkYtRTY3NC00MjQx
				LUI5NUYtODcxOUQ4ODgyM0NCXxAZTnl4VHJhY2VWaWV3
				ZXJfeDY0LnRhci5netIMS0xNV05TLnRpbWWADCNBtaub
				go2at9I+P09QolBDVk5TRGF0ZdI+P1JUolNDXlJXU2l0
				ZVJlc291cmNlXlJXU2l0ZVJlc291cmNl2SQlJicoKSoM
				K1ZXWC9aLzIzL4ASgA+AEYAAgBOAAAiADYAA0jYMYDiA
				EIAI0joMYzxPEQHiAAAAAAHiAAIAAAxNYWNpbnRvc2gg
				SEQAAAAAAAAAAAAAAAAAAADIbDmQSCsAAAEUx6QSTnl4
				VHJhY2VWaWV3ZXIuZG1nAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARUiKswX
				WhhkZXZyZGRza/////8AAAkgAAAAAAAAAAAAAAAAAAAA
				A09TWAAAEAAIAADIbHHQAAAAEQAIAADMF5JYAAAAAQAc
				ARTHpAEUx6EBFMdQAJkrpgAI/B8ACMB3AACTBgACAGBN
				YWNpbnRvc2ggSEQ6VXNlcnM6AGRhbm55dDoAZGV2OgBK
				YXZhRm9yZ2U6AFRyYWNlVmlld2VyQmluYXJpZXM6AHYx
				XzBfMDoAT1NYOgBOeXhUcmFjZVZpZXdlci5kbWcADgAm
				ABIATgB5AHgAVAByAGEAYwBlAFYAaQBlAHcAZQByAC4A
				ZABtAGcADwAaAAwATQBhAGMAaQBuAHQAbwBzAGgAIABI
				AEQAEgBMVXNlcnMvZGFubnl0L2Rldi9KYXZhRm9yZ2Uv
				VHJhY2VWaWV3ZXJCaW5hcmllcy92MV8wXzAvT1NYL055
				eFRyYWNlVmlld2VyLmRtZwATAAEvAAAVAAIADf//AACA
				B18QJDYwMDg3MzNFLTIwQjYtNDc4Ni04RThELTQ0MUNB
				RTBBQUZBRl8QFk55eFRyYWNlVmlld2VyX3g2NC5kbWfS
				DEtMaYAMI0G1q5uG42QX2SQlJicoKSoMK2tsbS9vLzIz
				L4AYgBWAF4AAgBmAAAiADYAA0jYMdTiAFoAI0joMeDxP
				EQH+AAAAAAH+AAIAAAxNYWNpbnRvc2ggSEQAAAAAAAAA
				AAAAAAAAAADIbDmQSCsAAAEoQ3kWTnl4VHJhY2VWaWV3
				ZXJfeDg2LnppcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAShDhcwg2r0AAAAAAAAA
				AP////8AAAkgAAAAAAAAAAAAAAAAAAAAB1dpbmRvd3MA
				ABAACAAAyGxx0AAAABEACAAAzCES/QAAAAEAHAEoQ3kB
				KEN4ARTHUACZK6YACPwfAAjAdwAAkwYAAgBoTWFjaW50
				b3NoIEhEOlVzZXJzOgBkYW5ueXQ6AGRldjoASmF2YUZv
				cmdlOgBUcmFjZVZpZXdlckJpbmFyaWVzOgB2MV8wXzE6
				AFdpbmRvd3M6AE55eFRyYWNlVmlld2VyX3g4Ni56aXAA
				DgAuABYATgB5AHgAVAByAGEAYwBlAFYAaQBlAHcAZQBy
				AF8AeAA4ADYALgB6AGkAcAAPABoADABNAGEAYwBpAG4A
				dABvAHMAaAAgAEgARAASAFRVc2Vycy9kYW5ueXQvZGV2
				L0phdmFGb3JnZS9UcmFjZVZpZXdlckJpbmFyaWVzL3Yx
				XzBfMS9XaW5kb3dzL055eFRyYWNlVmlld2VyX3g4Ni56
				aXAAEwABLwAAFQACAA3//wAAgAdfECRBMEI1RDZENi0x
				M0Y1LTRGMDAtOUQwNi1FQTI5RDYwRTNGNUFfEBZOeXhU
				cmFjZVZpZXdlcl94ODYuemlw0gxLTH6ADCNBtaubhvNe
				U9I+P4CBo4GCQ1xOU011dGFibGVTZXRVTlNTZXTTC4QM
				hYmNV05TLmtleXOjHyAhgASADoAUoy5YbYAJgBGAF4Ac
				0j4/j5CjkJFDXxATTlNNdXRhYmxlRGljdGlvbmFyeVxO
				U0RpY3Rpb25hcnnTC4QMk5eNo5SVloAegCOAJqMuWG2A
				CYARgBeAHNSdDJ6foKEfD1hDaGlsZHJlbl8QElJlcHJl
				c2VudGVkIE9iamVjdFZQYXJlbnSAH4AlgASAIdILDKWm
				oIAg0j4/qKmjqapDXk5TTXV0YWJsZUFycmF5V05TQXJy
				YXnUnQyen6yhLy+AIoAlgACAANILDLGmo5SVloAegCOA
				JoAg1J0Mnp+3oSAPgCSAJYAOgCHSCwy8pqCAINI+P7/B
				osBDXxAQUldTb3VyY2VMaXN0Tm9kZV8QEFJXU291cmNl
				TGlzdE5vZGXUnQyen8OhIQ+AJ4AlgBSAIdILDMimoIAg
				0wuEDMvMjaCggBzTC4QMz9ONo9DR0oAtgC6AL6PU1daA
				KoArgCyAHF8QVS9Vc2Vycy9kYW5ueXQvZGV2L0phdmFG
				b3JnZS9UcmFjZVZpZXdlckJpbmFyaWVzL3YxXzBfMS9X
				aW5kb3dzL055eFRyYWNlVmlld2VyX3g4Ni56aXBfEFIv
				VXNlcnMvZGFubnl0L2Rldi9KYXZhRm9yZ2UvVHJhY2VW
				aWV3ZXJCaW5hcmllcy92MV8wXzAvTGludXgvTnl4VHJh
				Y2VWaWV3ZXIudGFyLmd6XxBNL1VzZXJzL2Rhbm55dC9k
				ZXYvSmF2YUZvcmdlL1RyYWNlVmlld2VyQmluYXJpZXMv
				djFfMF8wL09TWC9OeXhUcmFjZVZpZXdlci5kbWfSCwzc
				IqEhgBSAGtILDOAioR+ABIAa0gsM5CKhIIAOgBrSPj/o
				6qLpQ18QElJXUmVzb3VyY2VEYXRhYmFzZV8QElJXUmVz
				b3VyY2VEYXRhYmFzZdI+P+yqoqpDEgABhqBfEA9OU0tl
				eWVkQXJjaGl2ZXIACAARABYAHwAoADIANQA6ADwAcQB3
				AHwAhwCOAJEAkwCVAJcApACtALcAwADPANgA2gDcAN4A
				4ADiAOQA6QDtAO8A8QDzAPUBCAENARMBHgEsATYBQwFL
				AVABUgFUAVYBWAFaAVwBXQFfAWEBZgFpAWsBbQFyAXoD
				dAN2A3sDhAOPA5MDoQOoA7EDtgO5A8EDyQPwBAwEEQQZ
				BBsEJAQpBCwEMwQ4BDsESgRZBGwEbgRwBHIEdAR2BHgE
				eQR7BH0EggSEBIYEiwZxBnMGmgazBrgGugbDBtYG2Aba
				BtwG3gbgBuIG4wblBucG7AbuBvAG9Qj3CPkJIAk5CT4J
				QAlJCU4JUglfCWUJbAl0CXgJegl8CX4JggmECYYJiAmK
				CY8JkwmpCbYJvQnBCcMJxQnHCcsJzQnPCdEJ0wncCeUJ
				+goBCgMKBQoHCgkKDgoPChEKFgoaCikKMQo6CjwKPgpA
				CkIKRwpLCk0KTwpRClMKXApeCmAKYgpkCmkKagpsCnEK
				dAqHCpoKowqlCqcKqQqrCrAKsQqzCroKuwq8Cr4KxQrJ
				CssKzQrPCtMK1QrXCtkK2wszC4gL2AvdC98L4QvjC+gL
				6gvsC+4L8wv1C/cL+Qv+DAEMFgwrDDAMMww4AAAAAAAA
				AgEAAAAAAAAA7wAAAAAAAAAAAAAAAAAADEo=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://nyxtraceviewer.dnsalias.net/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2012 Danny Thibaudeau</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/dannyt/dev/website/NyxTraceViewer_Prod_Website</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>danny.thibaudeau@hotmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Interslice</string>
					<key>TitleText</key>
					<string>NyxTraceViewer</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>62FC4E94-B28A-4F3D-B2A8-ED8E7A7650A7</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
