<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUI7e5UJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAyCQoR
				HSM1OT1ESElKTlFVX2JlZmdqdHd6e3x/g46SnKSnq7C2
				u77Cx8rO2Nna29/j5+tVJG51bGzSCwwNDlYkY2xhc3Na
				TlMub2JqZWN0c4Axog8QgAKAIdYSEwsUFRYXGBkaGxxY
				UGFnZSBNYXBZUmVzb3VyY2VzWFBhdGggTWFwXklkZW50
				aWZpZXIgTWFwWE5vZGUgTWFwgCiAA4AwgCmAG4Ad0gsM
				Hh+AGqMgISKABIAOgBTZJCULJicoKSorLC0uLzAxLy80
				V0NoYW5nZWRVQWxpYXNcUHVibGlzaGVkVVJMVE5hbWVa
				SWRlbnRpZmllclRTbHVnXVB1Ymxpc2hlZERhdGVZVGlt
				ZVN0YW1wCIAFgA2AAIAKgAmAAIAAgAvSCzY3OFIkMIAI
				gAbSOgs7PFdOUy5kYXRhTxECDAAAAAACDAACAAAMTWFj
				aW50b3NoIEhEAAAAAAAAAAAAAAAAAAAAyGw5kEgrAAAB
				KEN5Fk55eFRyYWNlVmlld2VyX3g4Ni56aXAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAEoQ4XMINq9AAAAAAAAAAD/////AAAJIAAAAAAAAAAA
				AAAAAAAAAAdXaW5kb3dzAAAQAAgAAMhscdAAAAARAAgA
				AMwhEv0AAAABACABKEN5AShDeAEUx1AAmSumASzURQAI
				/B8ACMB3AACTBgACAG1NYWNpbnRvc2ggSEQ6VXNlcnM6
				AGRhbm55dDoAZGV2OgBvbGQ6AEphdmFGb3JnZToAVHJh
				Y2VWaWV3ZXJCaW5hcmllczoAdjFfMF8xOgBXaW5kb3dz
				OgBOeXhUcmFjZVZpZXdlcl94ODYuemlwAAAOAC4AFgBO
				AHkAeABUAHIAYQBjAGUAVgBpAGUAdwBlAHIAXwB4ADgA
				NgAuAHoAaQBwAA8AGgAMAE0AYQBjAGkAbgB0AG8AcwBo
				ACAASABEABIAWFVzZXJzL2Rhbm55dC9kZXYvb2xkL0ph
				dmFGb3JnZS9UcmFjZVZpZXdlckJpbmFyaWVzL3YxXzBf
				MS9XaW5kb3dzL055eFRyYWNlVmlld2VyX3g4Ni56aXAA
				EwABLwAAFQACAA3//wAAgAfSPj9AQVgkY2xhc3Nlc1ok
				Y2xhc3NuYW1lo0FCQ11OU011dGFibGVEYXRhVk5TRGF0
				YVhOU09iamVjdNI+P0VHokZDV0JEQWxpYXNXQkRBbGlh
				c18QJEEwQjVENkQ2LTEzRjUtNEYwMC05RDA2LUVBMjlE
				NjBFM0Y1QV8QFk55eFRyYWNlVmlld2VyX3g4Ni56aXDS
				C0tMTVdOUy50aW1lgAwjQbXAus301SDSPj9PUKJQQ1ZO
				U0RhdGXSPj9SVKJTQ15SV1NpdGVSZXNvdXJjZV5SV1Np
				dGVSZXNvdXJjZdkkJQsmJygpKissVy4vWlsvL14IgA+A
				DYAAgBKAEYAAgACAE9ILNjdhgAiAENI6C2M8TxECAgAA
				AAACAgACAAAMTWFjaW50b3NoIEhEAAAAAAAAAAAAAAAA
				AAAAyGw5kEgrAAABFM7JFU55eFRyYWNlVmlld2VyLnRh
				ci5negAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAEVCBvMFzu0AAAAAAAAAAD/////
				AAAJIAAAAAAAAAAAAAAAAAAAAAVMaW51eAAAEAAIAADI
				bHHQAAAAEQAIAADMF3P0AAAAAQAgARTOyQEUx6EBFMdQ
				AJkrpgEs1EUACPwfAAjAdwAAkwYAAgBqTWFjaW50b3No
				IEhEOlVzZXJzOgBkYW5ueXQ6AGRldjoAb2xkOgBKYXZh
				Rm9yZ2U6AFRyYWNlVmlld2VyQmluYXJpZXM6AHYxXzBf
				MDoATGludXg6AE55eFRyYWNlVmlld2VyLnRhci5negAO
				ACwAFQBOAHkAeABUAHIAYQBjAGUAVgBpAGUAdwBlAHIA
				LgB0AGEAcgAuAGcAegAPABoADABNAGEAYwBpAG4AdABv
				AHMAaAAgAEgARAASAFVVc2Vycy9kYW5ueXQvZGV2L29s
				ZC9KYXZhRm9yZ2UvVHJhY2VWaWV3ZXJCaW5hcmllcy92
				MV8wXzAvTGludXgvTnl4VHJhY2VWaWV3ZXIudGFyLmd6
				AAATAAEvAAAVAAIADf//AACAB18QJEZDMThCODZGLUU2
				NzQtNDI0MS1COTVGLTg3MTlEODg4MjNDQl8QGU55eFRy
				YWNlVmlld2VyX3g2NC50YXIuZ3rSC0tMaYAMI0G1wLrI
				aIOZ2SQlCyYnKCkqKyxsLi9vcC8vcwiAFYANgACAGIAX
				gACAAIAZ0gs2N3aACIAW0joLeDxPEQHwAAAAAAHwAAIA
				AAxNYWNpbnRvc2ggSEQAAAAAAAAAAAAAAAAAAADIbDmQ
				SCsAAAEUx6QSTnl4VHJhY2VWaWV3ZXIuZG1nAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAARUiKswXWhhkZXZyZGRza/////8AAAkgAAAA
				AAAAAAAAAAAAAAAAA09TWAAAEAAIAADIbHHQAAAAEQAI
				AADMF5JYAAAAAQAgARTHpAEUx6EBFMdQAJkrpgEs1EUA
				CPwfAAjAdwAAkwYAAgBlTWFjaW50b3NoIEhEOlVzZXJz
				OgBkYW5ueXQ6AGRldjoAb2xkOgBKYXZhRm9yZ2U6AFRy
				YWNlVmlld2VyQmluYXJpZXM6AHYxXzBfMDoAT1NYOgBO
				eXhUcmFjZVZpZXdlci5kbWcAAA4AJgASAE4AeQB4AFQA
				cgBhAGMAZQBWAGkAZQB3AGUAcgAuAGQAbQBnAA8AGgAM
				AE0AYQBjAGkAbgB0AG8AcwBoACAASABEABIAUFVzZXJz
				L2Rhbm55dC9kZXYvb2xkL0phdmFGb3JnZS9UcmFjZVZp
				ZXdlckJpbmFyaWVzL3YxXzBfMC9PU1gvTnl4VHJhY2VW
				aWV3ZXIuZG1nABMAAS8AABUAAgAN//8AAIAHXxAkNjAw
				ODczM0UtMjBCNi00Nzg2LThFOEQtNDQxQ0FFMEFBRkFG
				XxAWTnl4VHJhY2VWaWV3ZXJfeDY0LmRtZ9ILS0x+gAwj
				QbXAus29g7bSPj+AgaOBgkNcTlNNdXRhYmxlU2V0VU5T
				U2V00wwLhIWJildOUy5rZXlzoyEiIIAOgBSABIAco1tw
				MYARgBeACdI+P4+Qo5CRQ18QE05TTXV0YWJsZURpY3Rp
				b25hcnlcTlNEaWN0aW9uYXJ50wwLhJOJmKOUlZaAHoAj
				gCaAHKNbcDGAEYAXgAnUnZ6fCxChIaNWUGFyZW50WENo
				aWxkcmVuXxASUmVwcmVzZW50ZWQgT2JqZWN0gCGAH4AO
				gCXSCwylpoAgoNI+P6ipo6mqQ15OU011dGFibGVBcnJh
				eVdOU0FycmF51J2enwsvrS+jgACAIoAAgCXSCwylsoAg
				o5SVloAegCOAJtSdnp8LELgio4AhgCSAFIAl0gsMpb2A
				IKDSPj+/waLAQ18QEFJXU291cmNlTGlzdE5vZGVfEBBS
				V1NvdXJjZUxpc3ROb2Rl1J2enwsQxCCjgCGAJ4AEgCXS
				CwylyYAgoNMMC4TLic2ggByg0wwLhM+J1KPQ0dKALYAu
				gC+AHKPV1teAKoArgCxfEE0vVXNlcnMvZGFubnl0L2Rl
				di9KYXZhRm9yZ2UvVHJhY2VWaWV3ZXJCaW5hcmllcy92
				MV8wXzAvT1NYL055eFRyYWNlVmlld2VyLmRtZ18QVS9V
				c2Vycy9kYW5ueXQvZGV2L0phdmFGb3JnZS9UcmFjZVZp
				ZXdlckJpbmFyaWVzL3YxXzBfMS9XaW5kb3dzL055eFRy
				YWNlVmlld2VyX3g4Ni56aXBfEFIvVXNlcnMvZGFubnl0
				L2Rldi9KYXZhRm9yZ2UvVHJhY2VWaWV3ZXJCaW5hcmll
				cy92MV8wXzAvTGludXgvTnl4VHJhY2VWaWV3ZXIudGFy
				Lmd60gsMHt2AGqEigBTSCwwe4YAaoSCABNILDB7lgBqh
				IYAO0j4/6Oqi6UNfEBJSV1Jlc291cmNlRGF0YWJhc2Vf
				EBJSV1Jlc291cmNlRGF0YWJhc2XSPj/sqqKqQxIAAYag
				XxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUA
				OgA8AHEAdwB8AIMAjgCQAJMAlQCXAKQArQC3AMAAzwDY
				ANoA3ADeAOAA4gDkAOkA6wDvAPEA8wD1AQgBEAEWASMB
				KAEzATgBRgFQAVEBUwFVAVcBWQFbAV0BXwFhAWYBaQFr
				AW0BcgF6A4oDjAORA5oDpQOpA7cDvgPHA8wDzwPXA98E
				BgQfBCQELAQuBDcEPAQ/BEYESwROBF0EbAR/BIAEggSE
				BIYEiASKBIwEjgSQBJUElwSZBJ4GpAamBs0G6QbuBvAG
				+QcMBw0HDwcRBxMHFQcXBxkHGwcdByIHJAcmBysJHwkh
				CUgJYQlmCWgJcQl2CXoJhwmNCZQJnAmgCaIJpAmmCagJ
				rAmuCbAJsgm3CbsJ0QneCeUJ6QnrCe0J7wnxCfUJ9wn5
				CfsKBAoLChQKKQorCi0KLwoxCjYKOAo5Cj4KQgpRClkK
				YgpkCmYKaApqCm8KcQp1CncKeQp7CoQKhgqICooKjAqR
				CpMKlAqZCpwKrwrCCssKzQrPCtEK0wrYCtoK2wriCuMK
				5QrmCu0K8QrzCvUK9wr5Cv0K/wsBCwMLUwurDAAMBQwH
				DAkMCwwQDBIMFAwWDBsMHQwfDCEMJgwpDD4MUwxYDFsM
				YAAAAAAAAAIBAAAAAAAAAO8AAAAAAAAAAAAAAAAAAAxy
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://nyxtraceviewer.dnsalias.net/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2012 Danny Thibaudeau</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/dannyt/dev/websites/exports/NyxTraceViewer</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>danny.thibaudeau@hotmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>GoogleAnalyticsCode</key>
					<string>&lt;script type="text/javascript"&gt;

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33662531-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

&lt;/script&gt;</string>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Interslice</string>
					<key>TitleText</key>
					<string>NyxTraceViewer</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>62FC4E94-B28A-4F3D-B2A8-ED8E7A7650A7</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
