<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<false/>
				<key>ColourStyles</key>
				<dict>
					<key>Manitoba</key>
					<dict>
						<key>%colour_header_border%</key>
						<string>#ACD83E</string>
						<key>%colour_menu%</key>
						<string>#FFCC66</string>
					</dict>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>styled-2</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>ImageFormat</key>
				<string>PNG</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Interslice</key>
					<array>
						<string>Sidebar.Left</string>
						<string>Width.1000px</string>
					</array>
					<key>Manitoba</key>
					<array>
						<string>Header Alignment.Left</string>
						<string>Icon Colour.Green</string>
						<string>Sidebar.Right</string>
						<string>Width.Variable</string>
					</array>
					<key>Possible</key>
					<array>
						<string>Sidebar.Hide</string>
						<string>Styles.Orange</string>
						<string>Width.1000px</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
