<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUImZpUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAeCQoR
				HSEzNztCRkdITE9TV15iaHBzd3yAhIiOj5OXVSRudWxs
				0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAHaIPEIACgBXW
				EhMLFBUWFxgZGhscWFBhZ2UgTWFwWVJlc291cmNlc1hQ
				YXRoIE1hcF5JZGVudGlmaWVyIE1hcFhOb2RlIE1hcIAY
				gAOAHIAZgA+AEdILDB4fgA6hIIAE2SIjCyQlJicoKSor
				LC0uLy0tMldDaGFuZ2VkVUFsaWFzXFB1Ymxpc2hlZFVS
				TFROYW1lWklkZW50aWZpZXJUU2x1Z11QdWJsaXNoZWRE
				YXRlWVRpbWVTdGFtcAiABYANgACACoAJgACAAIAL0gs0
				NTZSJDCACIAG0jgLOTpXTlMuZGF0YU8RAgoAAAAAAgoA
				AgAADE1hY2ludG9zaCBIRAAAAAAAAAAAAAAAAAAAAMhs
				OZBIKwAAASw4KxRJbnRlcnZpZXdNYW5hZ2VyLnppcAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAABLJm4zCjEnAAAAAAAAAAA/////wAACSAA
				AAAAAAAAAAAAAAAAAAAYSW50ZXJ2aWV3TWFuYWdlcl93
				ZWJzaXRlABAACAAAyGxx0AAAABEACAAAzCj83AAAAAEA
				HAEsOCsBEDTzARAyngEs1EUACPwfAAjAdwAAkwYAAgBn
				TWFjaW50b3NoIEhEOlVzZXJzOgBkYW5ueXQ6AGRldjoA
				b2xkOgB3ZWJzaXRlOgBwcm9qZWN0czoASW50ZXJ2aWV3
				TWFuYWdlcl93ZWJzaXRlOgBJbnRlcnZpZXdNYW5hZ2Vy
				LnppcAAADgAqABQASQBuAHQAZQByAHYAaQBlAHcATQBh
				AG4AYQBnAGUAcgAuAHoAaQBwAA8AGgAMAE0AYQBjAGkA
				bgB0AG8AcwBoACAASABEABIAU1VzZXJzL2Rhbm55dC9k
				ZXYvb2xkL3dlYnNpdGUvcHJvamVjdHMvSW50ZXJ2aWV3
				TWFuYWdlcl93ZWJzaXRlL0ludGVydmlld01hbmFnZXIu
				emlwAAATAAEvAAAVAAIADf//AACAB9I8PT4/WCRjbGFz
				c2VzWiRjbGFzc25hbWWjP0BBXU5TTXV0YWJsZURhdGFW
				TlNEYXRhWE5TT2JqZWN00jw9Q0WiREFXQkRBbGlhc1dC
				REFsaWFzXxAkMkYxQzE1RkItN0FENi00NzZGLUJGMDUt
				QTM2OUI0QTU4NEExXxAUSW50ZXJ2aWV3TWFuYWdlci56
				aXDSC0lKS1dOUy50aW1lgAwjQbXCqrHJr33SPD1NTqJO
				QVZOU0RhdGXSPD1QUqJRQV5SV1NpdGVSZXNvdXJjZV5S
				V1NpdGVSZXNvdXJjZdI8PVRVo1VWQVxOU011dGFibGVT
				ZXRVTlNTZXTTDAtYWVtcV05TLmtleXOhIIAEgBChL4AJ
				0jw9X2CjYGFBXxATTlNNdXRhYmxlRGljdGlvbmFyeVxO
				U0RpY3Rpb25hcnnTDAtYY1tmoWSAEoAQoS+ACdRpamsL
				EG0gb1ZQYXJlbnRYQ2hpbGRyZW5fEBJSZXByZXNlbnRl
				ZCBPYmplY3SAFYATgASAF9ILDHFygBSg0jw9dHWjdXZB
				Xk5TTXV0YWJsZUFycmF5V05TQXJyYXnUaWprCy15LW+A
				AIAWgACAF9ILDHF+gBShZIAS0jw9gYOigkFfEBBSV1Nv
				dXJjZUxpc3ROb2RlXxAQUldTb3VyY2VMaXN0Tm9kZdMM
				C1iFW4eggBCg0wwLWIlbjKGKgBuAEKGNgBpfEFAvVXNl
				cnMvZGFubnl0L2Rldi93ZWJzaXRlL3Byb2plY3RzL0lu
				dGVydmlld01hbmFnZXJfd2Vic2l0ZS9JbnRlcnZpZXdN
				YW5hZ2VyLnppcNILDB6RgA6hIIAE0jw9lJailUFfEBJS
				V1Jlc291cmNlRGF0YWJhc2VfEBJSV1Jlc291cmNlRGF0
				YWJhc2XSPD2YdqJ2QRIAAYagXxAPTlNLZXllZEFyY2hp
				dmVyAAgAEQAWAB8AKAAyADUAOgA8AF0AYwBoAG8AegB8
				AH8AgQCDAJAAmQCjAKwAuwDEAMYAyADKAMwAzgDQANUA
				1wDZANsA7gD2APwBCQEOARkBHgEsATYBNwE5ATsBPQE/
				AUEBQwFFAUcBTAFPAVEBUwFYAWADbgNwA3UDfgOJA40D
				mwOiA6sDsAOzA7sDwwPqBAEEBgQOBBAEGQQeBCEEKAQt
				BDAEPwROBFMEVwRkBGoEcQR5BHsEfQR/BIEEgwSIBIwE
				ogSvBLYEuAS6BLwEvgTABMkE0ATZBO4E8ATyBPQE9gT7
				BP0E/gUDBQcFFgUeBScFKQUrBS0FLwU0BTYFOAU6BT8F
				QgVVBWgFbwVwBXIFcwV6BXwFfgWABYIFhAXXBdwF3gXg
				BeIF5wXqBf8GFAYZBhwGIQAAAAAAAAIBAAAAAAAAAJsA
				AAAAAAAAAAAAAAAAAAYz
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://portefolio.dyndns.org/InterviewManager/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2012 Danny Thibaudeau</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/dannyt/dev/websites/exports/InterviewManager</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>danny.thibaudeau@hotmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Final</string>
					<key>TitleText</key>
					<string>Interview Manager</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>F5461105-9D3F-48FD-9711-F735DFEFFCC2</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
