<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUImZpUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAeCQoR
				HSEzNztCRkdITE9TV15iaHBzd3yAhIiOj5OXVSRudWxs
				0gsMDRBaTlMub2JqZWN0c1YkY2xhc3OiDg+AAoAVgB3W
				EhMUDBUWFxgZGhscWE5vZGUgTWFwWVJlc291cmNlc1hQ
				YXRoIE1hcF5JZGVudGlmaWVyIE1hcFhQYWdlIE1hcIAR
				gAOAGYAcgA+AGNILDB4goR+ABIAO2SIjJCUmJygMKSor
				LC0uLTAxLVROYW1lVUFsaWFzWklkZW50aWZpZXJdUHVi
				bGlzaGVkRGF0ZVlUaW1lU3RhbXBcUHVibGlzaGVkVVJM
				V0NoYW5nZWRUU2x1Z4AKgAWACYAAgAuAAAiADYAA0jQM
				NTZSJDCABoAI0jgMOTpXTlMuZGF0YU8RAfwAAAAAAfwA
				AgAADE1hY2ludG9zaCBIRAAAAAAAAAAAAAAAAAAAAMhs
				OZBIKwAAASw4KxRJbnRlcnZpZXdNYW5hZ2VyLnppcAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAABLJm4zCjEnAAAAAAAAAAA/////wAACSAA
				AAAAAAAAAAAAAAAAAAAYSW50ZXJ2aWV3TWFuYWdlcl93
				ZWJzaXRlABAACAAAyGxx0AAAABEACAAAzCj83AAAAAEA
				GAEsOCsBEDTzARAyngAI/B8ACMB3AACTBgACAGJNYWNp
				bnRvc2ggSEQ6VXNlcnM6AGRhbm55dDoAZGV2OgB3ZWJz
				aXRlOgBwcm9qZWN0czoASW50ZXJ2aWV3TWFuYWdlcl93
				ZWJzaXRlOgBJbnRlcnZpZXdNYW5hZ2VyLnppcAAOACoA
				FABJAG4AdABlAHIAdgBpAGUAdwBNAGEAbgBhAGcAZQBy
				AC4AegBpAHAADwAaAAwATQBhAGMAaQBuAHQAbwBzAGgA
				IABIAEQAEgBPVXNlcnMvZGFubnl0L2Rldi93ZWJzaXRl
				L3Byb2plY3RzL0ludGVydmlld01hbmFnZXJfd2Vic2l0
				ZS9JbnRlcnZpZXdNYW5hZ2VyLnppcAAAEwABLwAAFQAC
				AA3//wAAgAfSPD0+P1gkY2xhc3Nlc1okY2xhc3NuYW1l
				oz9AQV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVj
				dNI8PUNFokRBV0JEQWxpYXNXQkRBbGlhc18QJDJGMUMx
				NUZCLTdBRDYtNDc2Ri1CRjA1LUEzNjlCNEE1ODRBMV8Q
				FEludGVydmlld01hbmFnZXIuemlw0gxJSktXTlMudGlt
				ZYAMI0G1s4mScn+R0jw9TU6iTkFWTlNEYXRl0jw9UFKi
				UUFeUldTaXRlUmVzb3VyY2VeUldTaXRlUmVzb3VyY2XS
				PD1UVaNVVkFcTlNNdXRhYmxlU2V0VU5TU2V00wtYDFlb
				XVdOUy5rZXlzoR+ABKEsgAmAENI8PV9go2BhQV8QE05T
				TXV0YWJsZURpY3Rpb25hcnlcTlNEaWN0aW9uYXJ50wtY
				DGNlXaFkgBKhLIAJgBDUaQxqa2xtHw9YQ2hpbGRyZW5f
				EBJSZXByZXNlbnRlZCBPYmplY3RWUGFyZW50gBOAF4AE
				gBXSCwxxcqCAFNI8PXR1o3V2QV5OU011dGFibGVBcnJh
				eVdOU0FycmF51GkMamt4bS0tgBaAF4AAgADSCwx9cqFk
				gBKAFNI8PYGDooJBXxAQUldTb3VyY2VMaXN0Tm9kZV8Q
				EFJXU291cmNlTGlzdE5vZGXTC1gMhYZdoKCAENMLWAyJ
				i12hioAboYyAGoAQXxBQL1VzZXJzL2Rhbm55dC9kZXYv
				d2Vic2l0ZS9wcm9qZWN0cy9JbnRlcnZpZXdNYW5hZ2Vy
				X3dlYnNpdGUvSW50ZXJ2aWV3TWFuYWdlci56aXDSCwyQ
				IKEfgASADtI8PZSWopVBXxASUldSZXNvdXJjZURhdGFi
				YXNlXxASUldSZXNvdXJjZURhdGFiYXNl0jw9mHaidkES
				AAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgA
				MgA1ADoAPABdAGMAaABzAHoAfQB/AIEAgwCQAJkAowCs
				ALsAxADGAMgAygDMAM4A0ADVANcA2QDbAO4A8wD5AQQB
				EgEcASkBMQE2ATgBOgE8AT4BQAFCAUMBRQFHAUwBTwFR
				AVMBWAFgA2ADYgNnA3ADewN/A40DlAOdA6IDpQOtA7UD
				3APzA/gEAAQCBAsEEAQTBBoEHwQiBDEEQARFBEkEVgRc
				BGMEawRtBG8EcQRzBHUEegR+BJQEoQSoBKoErASuBLAE
				sgS7BMQE2QTgBOIE5ATmBOgE7QTuBPAE9QT5BQgFEAUZ
				BRsFHQUfBSEFJgUoBSoFLAUxBTQFRwVaBWEFYgVjBWUF
				bAVuBXAFcgV0BXYFyQXOBdAF0gXUBdkF3AXxBgYGCwYO
				BhMAAAAAAAACAQAAAAAAAACbAAAAAAAAAAAAAAAAAAAG
				JQ==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://portefolio.dyndns.org/InterviewManager/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2012 Danny Thibaudeau</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string>/Users/dannyt/dev/website/InterviewManager</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>danny.thibaudeau@hotmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Final</string>
					<key>TitleText</key>
					<string>Interview Manager</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>F5461105-9D3F-48FD-9711-F735DFEFFCC2</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
